html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.body {
    display: block;
    position: relative;
    font-family: "Lato" sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.88);
    background-image: url("../img/kantor-online.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.form {
    width: 55%;
    margin: auto;
}

.legend__nameCurrencyConverter {
    margin: 0 auto;
    padding: 1%;
    line-height: 42px;
    font-size: 24px;
    background-color: #a7cbf7b0;
    border: 2px solid #305c92b0;
}

.fieldset__currencyConverter {
    
    margin: 5% auto;
    padding: 0 5%;
    background-color: hsla(194, 80%, 44%, 0.5);
}

.undefinedList__CurrencyBefore {
    display: flex;
    justify-content:space-around;
    list-style: none;
   
    margin: 0 auto 0 -10%;
}

.select__currencyAfter {
    width: -20%;
}
/*==========================================  */
.button__amount {
    padding: 1% 3%;
    border: 1 solid white;
    color: white;
    background-color: rgba(2, 24, 41, 0.747);
}

.div__resultCalculation{
    display: block;
    width: 70%;
    margin: 0 auto;
    /* left: 50%; */
    top: -10%;
    border: 2px solid;
    padding: 1%;
    background-color: rgba(24, 39, 152, 0.786);
    z-index: 1;
}